.main {
  display: flex;
  flex-direction: column;
}
.part1 {
  display: flex;
  flex-direction: column;
}
.part1__top {
  display: flex;
}
.part1__left {
  display: flex;
  flex: 1;
}
.part1__right {
  margin-right: 60px;
}
.more {
  color: #f38c69;
}
.description_text {
  display: flex;
  font-size: 12px;
}
img {
  width: 95%;
}
.part2 {
  margin-top: 20px;
}
.part3 {
  margin-top: 40px;
}
.marleft {
  margin-left: 8px;
}
.innerText {
  background-color: #eef3ef;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  height: 15px;
}
.pushbuttons {
  display: flex;
  font-size: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}
